.btn-primary {
  color: white;
  background-color: #004c00;
  border-color: white; }
  .btn-primary:hover {
    color: white;
    background-color: #001900;
    border-color: #e0e0e0; }
  .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5); }
  .btn-primary.disabled, .btn-primary:disabled {
    background-color: #004c00;
    border-color: white; }
  .btn-primary:active, .btn-primary.active,
  .show > .btn-primary.dropdown-toggle {
    color: white;
    background-color: #001900;
    background-image: none;
    border-color: #e0e0e0; }

.btn.btn-primary:hover {
  color: #FFC72D;
  background-color: #004c00;
  border-color: white; }

.btn-secondary {
  color: #004c00;
  background-color: white;
  border-color: #004c00; }
  .btn-secondary:hover {
    color: #004c00;
    background-color: #e6e6e6;
    border-color: #000f00; }
  .btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 2px rgba(0, 76, 0, 0.5); }
  .btn-secondary.disabled, .btn-secondary:disabled {
    background-color: white;
    border-color: #004c00; }
  .btn-secondary:active, .btn-secondary.active,
  .show > .btn-secondary.dropdown-toggle {
    color: #004c00;
    background-color: #e6e6e6;
    background-image: none;
    border-color: #000f00; }

.btn.btn-secondary:hover {
  color: white;
  background-color: #004c00; }

.Events {
  margin-left: 10%;
  margin-right: 10%; }
  .Events .detail {
    font-size: 18px;
    text-decoration: underline; }
  .Events .EventList {
    padding-left: 0px;
    list-style: none; }
    .Events .EventList .EventItem {
      border: #004c00 2px solid;
      border-radius: 5px;
      margin: 15px 0px; }
      .Events .EventList .EventItem .card-block {
        padding: 0.50rem; }
      .Events .EventList .EventItem .card-header {
        font-size: 18px;
        font-weight: bold;
        color: #004c00;
        background-color: #FFC72D;
        text-shadow: -.5px 0 white, 0 .5px white, .5px 0 white, 0 -.5px white;
        border-bottom: #004c00 2px solid; }
      .Events .EventList .EventItem .EventDate {
        border: #004c00 solid 5px;
        padding: 10px 10px;
        color: black;
        background: #FFC72D; }
        .Events .EventList .EventItem .EventDate .EventDay {
          padding: 10px 10px;
          font-size: 30px; }
        .Events .EventList .EventItem .EventDate .EventMonth {
          font-size: 16px; }
      .Events .EventList .EventItem .EventDetails {
        padding: 10px 10px;
        color: #004c00;
        border: #004c00 solid 5px;
        background-color: white; }
  .Events .qty {
    padding-top: 5px; }
