.Header {
  min-height: 35px; }
  .Header .Header-Logo {
    height: auto;
    width: auto;
    font-weight: bold;
    float: left;
    color: #004c00; }
    .Header .Header-Logo .Header-Logo-Image img {
      width: 110px;
      height: 104px; }
  .Header .Header-Nav {
    margin: 0px;
    float: right; }
    .Header .Header-Nav .Header-Item {
      margin: 0px 10px;
      display: inline;
      color: #3f3f3f;
      transition: color .5s ease-out; }
      .Header .Header-Nav .Header-Item a {
        text-decoration: none;
        color: inherit; }
      .Header .Header-Nav .Header-Item:hover {
        cursor: pointer;
        text-shadow: 2px;
        color: #FFC72D; }
