@import 'src/_styles/variables.scss';

// Header
//

.Header {
  // @include media-breakpoint-up(700px){
  //    padding: 25px 150px;
  //    background: red;
  // }
  //padding: 35px 45px;
  //min-height: 50px;
  
  //border-bottom: $warrior-green 5px solid;
  .navbar-brand{
        transition: font-size .5s ease-out !important;
        

        &:hover{
          font-size: 22px !important;
        }

  }
  // box-shadow: 0px 3px 20px $warrior-green;


  //display: inline;
    // .Header-Logo{
    //  // display:inline;
    //   height:auto;
    //   width:auto;
    //   font-weight: bold;
    //   float: left;
    //   color: $warrior-green;
    //   .Header-Logo-Image{
    //     img{
    //       width: 110px;
    //       height:104px;
    //     }
    //   }
    // }

    .Header-Nav {

      // @include media-breakpoint-up(992px){
      //   float: right;
      // }
      // float: right;
      

      .Header-Item{
        margin: 0px;
        padding-left: 30px;
        // display:inline;


        a {
          text-decoration: none;
          color: inherit;
          transition: color .5s ease-out,
          font-size .3s ease-out;
        }
        &:hover{
          cursor: pointer;
          color: $warrior-gold;
          font-size: 16.5px;
        }

        .name{
          color: black;
          font-size: 16px;
          

        }
      }
    }



}