//@import
@import 'src/_styles/variables.scss';
//
// Footer
//

.Footer {
    .Footer-Content{
        min-height: 70px;
        background-color: $warrior-gold;
        color: $warrior-green;
        padding-top: 25px;
        border-top: $warrior-green 5px solid;
        border-bottom: $warrior-green 5px solid;
    }

    g .social-svg-icon{
        fill: white; 

    }
}